week list
<br>
<a href="{% url 'week_list_archive' %}">Archive</a>
{% if messages %}
    {% for message in messages %}
        <h2 class="{{ message.tags }}">{{ message }}</h2>
    {% endfor %}
{% endif %}
<style>
    .week_creation_form{
        background-color: aqua;
    }
</style>
<h2>LIST:</h2>
<ul>
    {% for week in weeks_list %}
        <li><a href="{% url 'week_show' week.id %}">{{ week.title|truncatechars:20 }}</a></li>
        <form method="POST" action="{% url 'week_delete' week.id %}">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
        <form method="POST" action="{% url 'week_archive' week.id %}">
            {% csrf_token %}
            <button type="submit">Archive</button>
        </form>
    {% endfor %}
</ul>


<h2>CREATE:</h2>
<form method="POST" action="{% url 'week_create' %}">
    {% csrf_token %}
    {% for field in form %}
        {{ field.label }}
        {{ field }}
        <br>
    {% endfor %}
    <button type="submit">Create</button>
    <p>{{ error }}</p>
</form>